<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://images.unsplash.com/photo-1580537659466-0a9bfa916a54?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8bGlicmFyeXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
      height: 1000px;
      width: : 1000px;
    " >
   <br><br><center><h1 style="color:white">Home Page</h1></center></br></br>
<% if current_user %>
 Logged in as <%= current_user.email %>.
 <%= link_to 'Log Out', logout_path %>
<% else %>
 <center><h2 style="color:white"><%= link_to 'Sign Up', signup_path%> </h2>or
 <h2 style="color:white"><%= link_to 'Log In', login_path %></h2></center>
<% end %>
<p id='notice'><%= notice %></p>
</div>




